<%= render "shared/header" %>

<div class='page-header'>
  <h1 class='pege-header-text'>
    施設名
  </h1>
</div>

<% @notices.each do |notice| %>
  <div class='notices-wrap'>
    <div class="notice-title">
      <%= link_to notice.notice_title, notice_path(notice.id) %>
    </div>
    <div class="notice-date">
      投稿日時：<%= notice.created_at %>
    </div>
  </div>
<% end %>

<div class='index-wrap'>
  <div class="index-btn">
    <%= link_to '写真館', photos_path %>
  </div>
  <div class="index-btn">
    <%= link_to '行事予定', calendars_path %>
  </div>
  <div class="index-btn">
    <%# link_to '施設情報', admin_path(@notices.admin.id) %>
  </div>
  <% if admin_signed_in? && current_admin.id == @notices.admin_id %>
    <div class="index-btn">
      <%= link_to '重要なお知らせ投稿', new_notice_path %>
    </div>
    <div class="index-btn">
      <%= link_to '写真投稿', new_photo_path %>
    </div>
  <% end %>
</div>
