<%= render "shared/header" %>
<%= render "shared/second-header" %>

<div class='page-header'>
  <h1 class='pege-header-text'>
    行事予定
  </h1>
</div>

<% if user_signed_in? && current_user.id == @calendar.user_id %>
  <%= form_with model: @calendar, local: true do |form| %>
  <div class='form-wrap'>

    <div class='form-header'>
      <h1 class='form-header-text'>
        行事予定入力
      </h1>
    </div>

    <% render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">日時</label>
      </div>
      <%= form.datetime_select :start_time %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">行事名</label>
      </div>
      <%= form.text_field :event, maxlength: "15" %>
    </div>

    <div class="submit-btn">
      <%= form.submit "行事を入力する", class: "submit" %>
    </div>

  </div>
  <% end %>
<% end %>

<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date.day %>
    <% calendars.each do |calendar| %>
    <div class='calendar-box'>
      <%= calendar.event %>
      <% if user_signed_in? && current_user.id == @calendar.user_id %>
        <div class="edit-btn-wrap">
          <div class="edit-btn">
            <%= link_to '編集', edit_notice_path(@notice.id), method: :get %>
          </div>
          <div class="edit-btn">
            <%= link_to '削除', notice_path(@notice.id), method: :delete %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
<% end %>